[Unit]
Description=Odoo Inactivity Monitor
After=odoo-docker.service
Requires=odoo-docker.service

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/home/ec2-user/self-shutdown-monitor.sh
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
